{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Пока только учусь писать код на Python. Мне начинает все больше нравится это занятие.
        Конечно бывает трудно иногда, при решениее сложных и непонятных задач. Но с каждым разом это становится интересно.

      </li>
      <li class="list-group-item">
        Django это хороший framework в котором есть все необходимые инстументы для создания web-страниц. 
        Конечно я пока только учусь, а на меня навалилось столько информации о Django, что это все трудно усвоить с первого раза. 
        Но думаю это стоит того. 
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
    О компьютерных технологиях можно говорить долго. Скажу только, что это "взрыв мозга".
  </article>
</div>
{% endblock %}